.Load {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
}

.Dialog {
    border-radius: 2px;
    background-color: #fafafa;
    padding: 10px;
}

.DialogTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
